.App{
  min-height: 100vh;
  background-image: url(atlasexplora.jpg);
  background-size: cover; 
  background-position: center; 

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  padding-top: 0px;
  
}

.search-bar{
  width: 400px;
  height: 20px;
  border: none;
  padding: 10px;
  font-size: 19px;
  border-radius: 18px 0 0 18px;
  border: 1.5px solid #3e1993;
  text-align: center;
  outline: none;
  font-family: 'Times New Roman';
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-btn{
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border: none;
  padding: 10px 20px;
  color: black;
  height: 42px;
  border-radius: 0 18px 18px 0;
  border: 1.5px solid #3e1993;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'Audiowide', cursive;
}

button:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.events{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 19px;
  
}
